.page-introduction {
    grid-column: calc(var(--column-num) * 2 / 20) / calc(var(--column-num) * 9 / 20);
    background-color: rgb(193, 193, 193);
    /* How to have fixed column width */
    
    width: calc(var(--column-width) * 7);
}