.page-introduction {
    grid-column: calc(var(--column-num) * 2 / 20) / calc(var(--column-num) * 9 / 20);
    background-color: var(--page-intro-color);

    width: calc(var(--column-width) * 8);

}

.page-introduction .page-intro-container {
    position: relative;

    width: fit-content;
    height: fit-content;

    top: 10%;
    margin: 0 10vw;
}

.page-introduction .page-intro-container h2 {
    font-family: page-intro-title-font;
    font-size: 3em;
}

.page-introduction .page-intro-container p {
    font-family: regular-text;
    font-size: 1.5em;
}