.page-introduction {
    grid-column: calc(var(--column-num) * 2 / 20) / calc(var(--column-num) * 10 / 20);
    background-color: var(--page-intro-color);

    width: calc(var(--column-width) * 8);

}

.page-introduction .page-intro-container {
    position: relative;
    z-index: 2;

    width: calc(var(--column-width)*8);
    height: 55vh;
    margin-top: 5%;
    left: var(--column-width);
}

.page-introduction .page-intro-container .page-intro-container-text {
    padding: 5vh 10vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-introduction .page-intro-container h2 {
    font-family: page-intro-title-font;
    font-size: 2em;
}

.page-introduction .page-intro-container p {
    font-family: Kanit;
    font-size: 1.25em;
    margin-left: 3vw;
}

.page-introduction img {
    position: relative;
    z-index: 0;
    margin: 0;
    width: 38vh;
    left: 22.5vh;
}