.smoke-animation {
  position: absolute;
  bottom: -40px;
  z-index: 3;
  left: 50%;
  transform: translateX(-60%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.smoke-animation li {
  list-style: none;
  height: 0.5vw;
  min-width: 0.3vw;
  background: #262626;
  border-radius: 40%;
  animation: animate 8s linear infinite;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(-5px) scaleX(1);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scaleX(15);
    opacity: 0;
  }
}
