ul{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

li{
    position: absolute;
    list-style: none;
    width: 2vw;
    height: 2vw;
    background: #262626;
    border-radius: 50%;

}

li:nth-child(even){
    animation: animateEven 2.8s linear infinite;
}

li:nth-child(odd){
    animation: animateOdd 2.8s linear infinite;
}

@keyframes animateEven{
    0%{
        transform: translate(3vw,-5vh) scale(1);
        opacity: 0.7;
        filter: blur(10px);
    }
    100%{
        transform: translate(-5vw, -50vh) scale(3);
        opacity: 0;
        filter: blur(10px);
    }
}

@keyframes animateOdd{
    0%{
        transform: translate(-5vw,-5vh) scale(1);
        opacity: 0.7;
        filter: blur(5px);
    }
    100%{
        transform: translate(5vw, -50vh) scale(3);
        opacity: 0;
        filter: blur(5px);
    }
}

li:nth-child(1){
    animation-delay: 0s;
}
li:nth-child(2){
    animation-delay: 0.4s;
}
li:nth-child(3){
    animation-delay: 0.8s;
}
li:nth-child(4){
    animation-delay: 1.2s;
}
li:nth-child(5){
    animation-delay: 1.6s;
}
li:nth-child(6){
    animation-delay: 2s;
}
li:nth-child(7){
    animation-delay: 2.4s;
}
li:nth-child(8){
    animation-delay: 2.8s;
}
li:nth-child(9){
    animation-delay: 0.2s;
}
li:nth-child(10){
    animation-delay: 0.6s;
}
li:nth-child(11){
    animation-delay: 1s;
}
li:nth-child(12){
    animation-delay: 1.4s;
}
li:nth-child(13){
    animation-delay: 1.8s;
}
li:nth-child(14){
    animation-delay: 2.2s;
}
li:nth-child(15){
    animation-delay: 2.6s;
}

