.welcome-cup {
  display: grid;
  align-items: stretch;
  justify-content: center;
}

.smoke {
  position: relative;
  grid-row: 1/2;
}
.welcome-cup img {
  grid-row: 2/3;
  height: 30vh;
  align-self: start;
  justify-self: center;
}

video {
  display: none;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.top-drawing {
  top: 100px;
}

.welcome-title {
  top: 0;
  text-align: center;
  font-family: page-intro-title-font;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 2vh;
  word-spacing: 0.15em;
  font-weight: 500;
  margin-left: 5vw;
  margin-right: 5vw;
}

.welcome-subtitle {
  text-align: center;
  font-family: Sorts Mill Goudy;
  font-style: italic;
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
}

.welcome-text {
  text-align: center;
  font-weight: 300;
  font-family: Sorts Mill Goudy;
  font-size: 1em;
}

.smoke-space {
  height: 10vh;
}
