.question{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 5px black;
    border-radius: 5px;
}

.question .header {
    font-size: medium;
    font-family: "https://fonts.google.com/specimen/Sono";
}

.question .answer{
    font-size: small;
    font-family: "https://fonts.google.com/specimen/Sono";
}