.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    background-color: #c4df9b;
    font-size: small;
}

.title span{
    font-size: medium;
}

.expand{
    height: auto;
    max-height: 9999px;
    transition: all 0.2s cubic-bezier(0, 1, 0, 1);
    border: 2px solid rgb(156, 180, 170);
    font-size: small;
    background-color: rgb(180, 232, 207);
}

.collapse{
    height: 0px;
    max-height: 0px;
    transition: all 0.2s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
}

.question{
    
    width: 70%;
    padding-left: 90px;
}

