 .welcome-container{
    position: block;
    height: 100vh;
    grid-column-start: 2;
    background-color: red;
    top: 0;
    left: 0;
}
 
 .content-container{
    display: grid;
    place-items: center stretch;
    grid-column: 1/21;
    grid-row: 3/4;
    background-color: #c4df9b;
  }

.navbar-contact{
  display: inline-flex !important;
}

  
  
  .event-header{
    text-align: center;
    font-family: 'page-intro-title-font';
    color: #0CEDC0;
    margin-top: 5vh;
    margin-bottom: 0;
  }


  
  .slider {
     height: 10vh;
  }

  .page-home-hyperlinks {
    grid-row: 4/5;
    display: flex;
    width: 100vw;
    height: 30vh;
    margin-top: 10vh;
    justify-content: space-evenly;
  }

  .page-home-join h2, .page-home-sponsor h2 {
    font-family: page-intro-title-font;
    font-size: 2em;
    text-align: center;
  }

  .page-home-join p, .page-home-sponsor p {
    font-family: Montserrat;
  }

  .prev{
    transform: rotate(180deg);
  }

  