.page-about {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.page-about-menu {
  width: var(--width);
  height: var(--height);
  z-index: 1;
}

.page-about-tabs {
  display: flex;
  z-index: -1;
  margin-left: 30px;
}

.about-tab {
  position: relative;
  margin-left: 5px;
  background-color: green;
  border-radius: 1em 1em 0 0;
  padding: 5px 10px;
  padding-bottom: 10px;
  top: 20px;
  transition: top;
  transition-duration: 0.3s;
}

.about-tab p {
  font-family: navbar-menu-font;
  font-size: 1.5em;
  margin: 0;
}

#active {
  position: relative;
  top: 5px;
  background-color: greenyellow;
}

#not-active:hover {
  top: 10px;
}

#not-active {
  cursor: pointer;
}

.page-about-menu img {
  position: absolute;
  width: var(--width);
  height: var(--height);
  margin: 0;
}

.page-about-text {
  margin: 0;
  font-size: 1.5em;
  word-wrap: break-word;
  overflow-y: scroll;
  height: 90%;
  padding-left: 1em;
  padding-right: 2em;
  mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%);
}

.page-about-page h2 {
  text-align: center;
}

#page-about-page-image {
  position: relative;
  width: 80%;
  height: auto;
  left: 50%;
  transform: translateX(-50%)
}

.page-about-page {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4em 3em;
  z-index: 2;
  height: 80%;
  max-height: 80%;
}

.page-about-button-container {
  background-color: black;
  position: absolute;
  bottom: 4em;
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
}