.footer-section {
    grid-column: 1/21;
<<<<<<< HEAD
    grid-row: 3/4;
    height: 25vh;    
}
=======
    grid-row: 4/5;
    background-color: green;
    height: 25vh;
    border-top: 2vh;
    border-style: solid;
    border-color: rgb(0, 54, 2);
>>>>>>> 6ac753461c2126fca5f3d79010aa1c75c399dc63

.footer-section svg {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    fill: green;
}

.footer-section-info {
    position: relative;
    display: flex;
    background-color: green;
    padding: 2vh 0;
    justify-content: center;
    flex-direction: row;
}

.footer-section-info img {
    height: 20vh;
}

.footer-section-info section {
    margin: auto 0;
    margin-left: 5vw;
    color: rgb(200, 200, 200);
}

.footer-section-info section p {
    margin: 10px;
}