.footer-section {
  grid-column: 1/21;
  grid-row: 5/6;
  height: 25vh;
}

.footer-section svg {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  fill: green;
}

.footer-section-info {
  position: relative;
  display: flex;
  background-color: green;
  padding: 3vh 0;
  justify-content: center;
  flex-direction: row;
}

.footer-section-info img {
  height: 20vh;
}

.footer-section-info section {
  margin: auto 0;
  margin-left: 5vw;
  color: rgb(200, 200, 200);
}

.footer-section-info section p {
  margin: 10px;
}
