

.navbar-menu {
    grid-column: 1 / 20;
    background-color: gray;
    
    min-height: var(--menu-height);
    max-height: var(--menu-height); 

    display: flex;
    flex-direction: row;
}

.navbar-menu .club-icon {
    margin: auto 0;
}

.navbar-menu .club-icon a {
    margin: 0;
}

.navbar-menu img {
    margin-left: var(--column-width);
    padding-right: var(--column-width);
    
}

.navbar-menu rect {
    width: 0.1vw;
    height: 100vh;
}

.navbar-menu svg {
    width: 0.2vw;
    height: 9vh;
    margin: auto 1vw;
}

.navbar-menu a {
    margin: auto 2vw;
}

.navbar-menu .navbar-join {
    background-color: var(--join-color);
    padding: 1vw 2vw;
    border-radius: 10vw;
}

.navbar-contact {
    grid-column: 1 / calc(var(--column-num) * 1/20);
    background-color: lightgray;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--contact-height);
    max-height: var(--contact-height);

    width: calc(var(--column-width) * 1);  
}

.navbar-contact button {
    position: relative;
    border: none;
    background-color: transparent;
    margin: 5vh auto;
    padding: 0;
}

.navbar-contact button img {
    position: relative;
    max-width: 2.5vw;
}