.admin-about-container{
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    border-radius: 19pt;
    padding-bottom: 10px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 15px 15px
}

.admin-about-title{
    align-self: flex-start;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
}


.buttons{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.edit-button{
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
}


.delete-button{
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
}


.admin-about-text{
    text-align: left;
    padding: 20px;
    padding-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
    display: inline-block;
    white-space: nowrap;
}