.container{
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    border-radius: 19pt;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
    gap: 50px;
}

.title{
    align-self: flex-start;
    padding-left: 10px;
}


.buttons{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.edit-button{
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
}


.delete-button{
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
}


.text{
    text-align: left;
    padding: 10px 10px 10px 10px;
}