.button{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: end;
    margin-bottom: 10;
}

.add-button{
    background-color: transparent;
    cursor: pointer;
    border-width: 0;
}

.scroll-area{
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
}

@media (max-width: 1650px) {
    .scroll-area{
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 40vw 40vw
    }
}

@media (max-width: 1150px) {
    .scroll-area{
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
}