:root {
    --menu-height: 13vh;
    --contact-height: calc(100vh - var(--menu-height));

    --column-num: 20;
    --column-width: calc(100vw / var(--column-num));

    --join-color: #000000;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    display: grid;
    padding: 0;
}

#page-component {
<<<<<<< HEAD
    grid-column: calc(var(--column-num) * 9 / 20) / var(--column-num);
    width: calc(var(--column-width) * 11);
=======
    grid-area: 'page';
    grid-column: calc(var(--column-num) * 8 / 20) / var(--column-num);
    width: calc(var(--column-width) * 12);
>>>>>>> df6cbcf787811b0d6c7177e9b3404204f504ea00
}