@font-face {
  font-family: "navbar-menu-font";
  src: url("./fonts/LemonRolls-2OGol.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Space+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellota&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellota&display=swap");

@font-face {
  font-family: "page-intro-title-font";
  src: url("./fonts/Lobster-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Space+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Sorts+Mill+Goudy&display=swap");

:root {
  --menu-height: 13vh;
  --contact-height: calc(100vh - var(--menu-height));

  --column-num: 20;
  --column-width: calc(100vw / var(--column-num));

  --join-color: #c4df9b;
  --navbar-menu-color: #ffffff;
  --navbar-contact-color: #ffffff;
  --page-intro-color: #ffffff;

  --navbar-menu-font-size: 1.5em;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url("./background.jpg");
  background-repeat: repeat;
  background-size: 5%;
}

.main-container {
  display: grid;
  padding: 0;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(20, 1fr);
}

.page-component {
  grid-area: "page";
  grid-column: calc(var(--column-num) * 10 / 20) / var(--column-num);
  width: calc(var(--column-width) * 11);
}
