:root {
    --menu-height: 13vh;
    --contact-height: calc(100vh - var(--menu-height));

    --column-num: 20;
    --column-width: calc(100vw / var(--column-num));
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    display: grid;
    padding: 0;
}

#page-component {
    grid-column: calc(var(--column-num) * 9 / 20) / var(--column-num);
    width: calc(var(--column-width) * 11);
}