.admin-nav-top {
  width: stretch;
  padding: 5px 35px;
  background-color: #daffe9;
  border-width: 0px;
  border-bottom: 2px;
  border-color: #adadad;
  border-style: solid;
}

.admin-nav-bottom {
  width: stretch;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.admin-nav-button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
}
