.admin-nav-top {
    width: stretch;
    padding: 5px 35px;
    background-color: #DAFFE9;
    border-width: 0px;   
    border-bottom: 2px;
    border-color: #ADADAD;
    border-style: solid;
}

.admin-nav-bottom {
    width: stretch;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.admin-nav-button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 24px;
}