.admin-container {
  width: screen;
  padding: 40px 90px;
  background-color: #f4f4f4;
  font-family: "Oxygen", sans-serif;
  flex-direction: column;
  min-height: 82vh;
}

.admin-container-p {
  font-size: 40px;
}
