.admin-container {
  width: screen;
  padding: 40px 90px;
  background-color: #f4f4f4;
  font-family: "Oxygen", sans-serif;
  flex-direction: column;
  flex-grow: 1;
  min-height: fit-content;
}

.admin-container-p {
  font-size: 40px;
}
